<div>
    <div class="flex justify-center items-start p-4 rounded-t border-b dark:border-gray-600 relative">
        <div class="flex flex-col justify-center items-center">
            <p class="text-xs font-bold uppercase">Size & Fit Guide</p>
            <h3 class="text-2xl text-center font-bold uppercase">Men's Pants</h3>
        </div>
        <button class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white absolute right-4 top-4" data-modal-toggle="largeModal" type="button">
            <svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" fill-rule="evenodd"></path>
            </svg>
        </button>
    </div>
    <div class="p-6 space-y-6">
        <div class="relative overflow-x-auto">
            <table class="size-chart__table w-full text-sm text-left text-black uppercase font-family-heading border">
                <thead class="text-xs text-white uppercase bg-dark-orange">
                    <tr>
                        <th class="px-6 py-3" scope="col">
                            Alpha Size
                        </th>
                        <th class="px-6 py-3" scope="col">
                            S
                        </th>
                        <th class="px-6 py-3" scope="col">
                            M
                        </th>
                        <th class="px-6 py-3" scope="col">
                            L
                        </th>
                        <th class="px-6 py-3" scope="col">
                            XL
                        </th>
                        <th class="px-6 py-3" scope="col">
                            XXL
                        </th>
                        <th class="px-6 py-3" scope="col">
                            XXXL
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap" scope="row">
                            Pant Size
                        </th>
                        <td class="px-6 py-4">
                            30"-31"
                        </td>
                        <td class="px-6 py-4">
                            32"-33"
                        </td>
                        <td class="px-6 py-4">
                            34"-35"
                        </td>
                        <td class="px-6 py-4">
                            36"-38"
                        </td>
                        <td class="px-6 py-4">
                            38"-40"
                        </td>
                        <td class="px-6 py-4">
                            40"-44"
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap" scope="row">
                            Waist Measurement
                        </th>
                        <td class="px-6 py-4">
                            32"-33"
                        </td>
                        <td class="px-6 py-4">
                            34"-35"
                        </td>
                        <td class="px-6 py-4">
                            36"-37"
                        </td>
                        <td class="px-6 py-4">
                            38"-40"
                        </td>
                        <td class="px-6 py-4">
                            40"-42"
                        </td>
                        <td class="px-6 py-4">
                            42"-46"
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap" scope="row">
                            Hip Measurement
                        </th>
                        <td class="px-6 py-4">
                            38"-39"
                        </td>
                        <td class="px-6 py-4">
                            40"-41"
                        </td>
                        <td class="px-6 py-4">
                            42"-43"
                        </td>
                        <td class="px-6 py-4">
                            44"-46"
                        </td>
                        <td class="px-6 py-4">
                            47"-49"
                        </td>
                        <td class="px-6 py-4">
                            50"-52"
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>