<div>
    <div class="flex justify-center items-start p-4 rounded-t border-b dark:border-gray-600 relative">
        <div class="flex flex-col justify-center items-center">
            <p class="text-xs uppercase font-bold">Size & Fit Guide</p>
            <h3 class="text-2xl text-center font-bold uppercase">Socks</h3>
        </div>
        <button class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white absolute right-4 top-4" data-modal-toggle="largeModal" type="button">
            <svg class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" fill-rule="evenodd"></path>
            </svg>
        </button>
    </div>
    <div class="p-6 space-y-6">
        <div class="relative overflow-x-auto">
            <table class="size-chart__table w-full text-sm text-left text-black uppercase font-family-heading border">
                <thead class="text-xs text-white uppercase bg-dark-orange">
                    <tr>
                        <th class="px-6 py-3" scope="col">
                            Alpha Size
                        </th>
                        <th class="px-6 py-3 text-center" scope="col">
                            S
                        </th>
                        <th class="px-6 py-3 text-center" scope="col">
                            M
                        </th>
                        <th class="px-6 py-3 text-center" scope="col">
                            L
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap" scope="row">
                            Mens Shoe Size
                        </th>
                        <td class="px-6 py-4 text-center">
                            6 - 8
                        </td>
                        <td class="px-6 py-4 text-center">
                            8 - 12
                        </td>
                        <td class="px-6 py-4 text-center">
                            12 - 15
                        </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap" scope="row">
                            Boys Shoe Size
                        </th>
                        <td class="px-6 py-4 text-center">
                            5Y - 7Y
                        </td>
                        <td class="px-6 py-4 text-center">
                            N/A
                        </td>
                        <td class="px-6 py-4 text-center">
                            N/A
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>