{% assign s = section.settings %}

<section class="mx-auto bg-shark">
    <div class="py-10 mx-auto">
        <div class="mb-12 px-4 sm:px-0">
            <h2 class="font-semibold text-3xl text-white text-center leading-10 mb-4">{{ s.title }}</h2>
            <div class="max-w-[62.5rem] font-semibold mx-auto text-base text-white text-center">{{ s.description }}</div>
        </div>
    </div>
</section>

{% schema 'lead-text-dark-background' %}

