{% assign s = section.settings %}
<section class="container mx-auto pt-12 md:pt-24 pb-24 md:pb-24 max-w-[42.375rem] text-center">
        <h2 class="text-4xl font-semibold leading-10">{{ s.title }}</h2>
        <div class="text-base font-medium leading-7 mt-4">{{ s.description }}</div>
</section>

{% schema "lead-text" %}